[mysqld]
# 文字コード/照合順序の設定
character-set-server = utf8mb4
collation-server = utf8mb4_general_ci
init_connect='SET NAMES utf8mb4'

# タイムゾーンの設定
default-time-zone = SYSTEM
# log_timestamps = SYSTEM

[mysql]
# mysqlコマンドラインツールでの文字コード
default-character-set = utf8mb4

[client]
# クライアント接続時の文字コード
default-character-set = utf8mb4
